<h3>スケジュール新規作成</h3>
<% if flash[:notice] %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>
<%= render "shared/error", obj: @post %>
<%= form_with model: @post do |f| %>
  <table>
    <tr>
      <th><%= f.label :name ,"タイトル" %></th>
      <td><%= f.text_field :name %></td>
    </tr>

    <tr>
      <th><%= f.label :start ,"開始日" %></th>
      <td><%= f.date_field :start %></td>
    </tr>

    <tr>
      <th><%= f.label :finish ,"終了日" %></th>
      <td><%= f.date_field :finish %></td>
    </tr>

    <tr>
      <th><%= f.label :allday ,"終日" %></th>
      <td><%= f.check_box :allday %>終日の場合はチェックを入れます</td>
    </tr>

    <tr>
      <th><%= f.label :memo ,"スケジュールメモ" %></th>
      <td><%= f.text_area :memo %></td>
    </tr>
  </table>

  <div>
    <ul>
      <li><%= f.submit "スケジュールを新規登録する"%></li>
      <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
    </ul>
  </div>
<% end %>