<h3>スケジュール詳細</h3>
 
<table>
  <tr>
    <th>タイトル</th>
    <td><%= @post.name %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @post.start %></td>
  </tr>
  <tr>
    <th>投稿日時</th>
    <td><%= @post.update_at %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td><%= @post.allday == true ? "○" : "" %></td>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @post.memo %></td>
  </tr>
</table>

<div>
  <ul>
    <li><%= link_to " スケジュール一覧に戻る", :posts %></li>
    <li><%= link_to "スケジュールを編集する", [:edit, @post] %></li>
    <li><%= link_to "スケジュールを削除する", @post, method: :delete, data: { confirm: "本当に削除しますか？" } %></li>
  </ul>
</div>